<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{team.titles}}" hide-tabs>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="doSomething()">
      <i class="icon ion-search"></i>
    </button>
    <button class="button button-clear" ng-click="doSomething()">
      <i class="icon ion-plus-round"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <p>
      {{team.date}}
    </p>
  </ion-content>

</ion-view>
