<ion-view view-title="组队" >
    </ion-nav-buttons>

    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" href="#/tab/team/0" >
                <img  src="../www/img/4.jpg">
                <h2>项目比赛</h2>
                <p>团队就差你了！</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-remove-animate item-avatar item-icon-right" href="#/tab/team/1" >
                <img  src="../www/img/5.jpg">
                <h2>学习交流</h2>
                <p>考研！四六级！</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-remove-animate item-avatar item-icon-right" href="#/tab/team/2" >
                <img  src="../www/img/6.jpg">
                <h2>面试宣讲</h2>
                <p>面经！人多壮胆！</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-remove-animate item-avatar item-icon-right"  href="#/tab/team/3" >
                <img  src="../www/img/7.jpg">
                <h2>娱乐生活</h2>
                <p>周末一起玩吧！</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

