<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{team.titles}}" hide-tabs>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="doSomething()">
      <i class="icon ion-search"></i>
    </button>
    <button class="button button-clear" ng-click="doSomething()">
      <i class="icon ion-plus-round"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-list>
      <ion-item class=" item-icon-right" ng-repeat="date in team.date"
                 href="#/tab/team/{{team.id}}/{{date.id}}">

          <div  id="div1" >
            <h2 >{{date.project}}</h2>

            <p>详情:{{date.detail}}</p>
            <p style="position: absolute;right: 0;top:52px;">人数:{{date.people}}</p>
            <i class="icon ion-chevron-right icon-accessory positive"></i>
          </div>

      </ion-item>
      </ion-list>
  </ion-content>

</ion-view>
